#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

# A sample configuration for dhcpcd.
# See dhcpcd.conf(5) for details.

hostname

clientid
persistent

option rapid_commit

# A list of options to request from the DHCP server.
option domain_name_servers, domain_name, domain_search, host_name
option classless_static_routes
# Respect the network MTU. This is applied to DHCP routes.
option interface_mtu
option ntp_servers

# A ServerID is required by RFC2131.
require dhcp_server_identifier

# Generate Stable Private IPv6 Addresses instead of hardware based ones
slaac private

interface {{ raspberry_dhcpcd.interface }}
{% if raspberry_dhcpcd.static.ip_address is defined and
      raspberry_dhcpcd.static.ip_address | string | length > 0 %}
static ip_address={{ raspberry_dhcpcd.static.ip_address }}
static routers={{ raspberry_dhcpcd.static.routers }}
static domain_name_servers={{ raspberry_dhcpcd.static.domain_name_servers | default(['9.9.9.9']) | join(' ') }}
{% endif %}
