#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

# This file lists locales that you wish to have built. You can find a list
# of valid supported locales at /usr/share/i18n/SUPPORTED, and you can add
# user defined locales to /usr/local/share/i18n/SUPPORTED. If you change
# this file, you need to rerun locale-gen.

{% if raspberry_locale.options is defined and
      raspberry_locale.options | count > 0 %}
  {% for loc in raspberry_locale.options %}
{{ loc }}
  {% endfor %}
{% else %}
en_GB.UTF-8 UTF-8
{% endif %}
